<div class="main users-index">
  <div class="container">
    <% if @current_user.name == "MasterUserCanEdit" %>
      <h1 class="users-heading">ユーザー一覧</h1>
      <% @users.each do |user| %>
        <div class="users-index-item">
          
          <div class="user-right">
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
        </div>
      <% end %>
    <% else %>
      意図しない操作が行われました<br>
      <%= link_to("トップへ戻る", "/") %>
    <% end %>
  </div>
</div>