<div class="main posts-new">
  <div class="aboutContainer">
    <h2>MahjongRecordの使い方</h2><br><br>
    <div class="SideBySide">
        <p>
            <h3>1.ルームの作成</h3>
            <img src="/about1.jpg" width="350px">
            <p>
            <br>
            ルームを作成するには、まずログインする必要があります。<br>
            <a href="/login">ログインページ</a>からログインを行うか、<a href="/signup">新規登録ページ</a>から新規登録を行ってください。
            
            </p>
            <br><br><br><br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <img src="/about2.jpg" width="350px">
            
            <p>
                ログインが完了したら、ルーム作成を行うことができます。<br>
                ルーム番号(任意の数字)、順位点(順位ウマ)、レート、何点返し を入力して「ルームを作成する」ボタンを押しましょう。<br>
                例:
                ワンツー(10-20) → 順位点:10000<br>
                テンゴ → レート:0.5<br>
                25000点持ち・30000点返し → 何点返し:30000<br>
                ※金銭を直接かける行為は、賭博及び富くじに関する罪にあたり罰せられます。レートを設定する場合、金銭の代わりにその価値を持つ食べ物をやりとりするなど、法律の範囲内で楽しむようにしましょう。
            </p>
            <br><br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <h3>2.ルームに参加</h3>
            <img src="/about3.jpg" width="350px">
            <p>
                ルームを作成したユーザ以外はそのルームに参加する必要があります。(ルームの参加にログインは必須ではありません。)<br>
                <a href="/login">ルームに参加</a>からルーム番号を指定して、ルームにアクセスしましょう。
            </p>
            <br><br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <img src="/about4.jpg" width="350px">
            <p>
                ルームにアクセスすることができたら、自分の名前を入力しましょう。ゲストユーザは黒い行のテキストボックスに好きな名前を入力して「反映」ボタンを押すことで、入力された名前が登録されます。<br>
                ログイン済みのユーザは水色の「ここに参加」ボタンを押すだけで、自動的にユーザ名が登録されます。
                これで参加は完了です。
            </p>
            <br><br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <h3>3.点数計算/精算</h3>
            <img src="/about5.jpg" width="350px">
            <p>
                ルームに参加できたら対局開始です。<br>
                1半荘(1試合)が終わったら、各々のプレイヤーの点数を入力し「反映」ボタンを押します。
                この際に、3人目のプレイヤーの特典が入力し終わった段階で、ルーム作成の際に設定したルールに基づき、精算が行われます。(もちろん4人一気に入力しても構いません。)<br>
            </p>
            <br><br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <img src="/about6.jpg" width="350px">
            <p>
                反映されたら、次の半荘を行い結果を入力するといった作業を対局が終わるまで繰り返します。
                入力した点数などに誤りがあった場合は、誤りがあった行の横にある「編集」ボタンを押して編集します。<br>
                東、西、北は点数が同率のプレーヤーがいる際に順位を決定する材料にします。点数が同率のプレイヤーが存在する場合は忘れずに正しい値にチェックをつけて下さい。
            </p>
            <br><br><br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <h3>4.終了</h3>
            <img src="/about7.jpg" width="350px">
            <p>
                ログインしているユーザのみがこれ以降の処理を行うことができます。
                対局が終わったら、「結果を保存して終了」ボタンを押すことで、その対局の結果を自分のステータスに加えることができます。<br>
                今までの勝率や負けた金額などを眺めて、現実と向き合いましょう。
            </p>
            <br><br><br>
        </p>
    </div>
    <div class="SideBySide">
        <p>
            <img src="/about8.jpg" width="350px">
            <p>
               なお、「結果を保存して終了」ボタンを押してしまうとそれ以降編集を行うことはできません。対局を終えた場合のみこのボタンを押すようにしましょう。
            </p>
            <br><br><br><br>
        </p>
    </div>
  </div>
</div>