<div class="main top-main">
  <div class="top-message">
    <div class="box11">
      <h2><font color="#322d33">MahjongRecord</h2>
      <p><font color="#322d33">MahjongRecordは麻雀の精算作業を素早く簡単に行い<br>保存するためのアプリです</font></p>
      <br>
      <a href="/login" class="btn-gradient-3d-simple">
          <font size="5" color="#ffffff">ログイン</font>
      </a>
      <a href="/signup" class="btn-gradient-3d-simple">
          <font size="5" color="#ffffff">新規ユーザー登録</font>
      </a>
      <br><br>
      <a href="room/search" class="btn-gradient-3d-orange">
          <font size="5" color="#ffffff">ログインせずにルームに参加</font>
      </a>
    </div>
  </div>
</div>