<div class="main posts-index">
  <div class="container">
    <table border="1">
      <tr>
        <th>user_a</th>
        <th>user_b</th>
        <th>user_c</th>
        <th>user_d</th>
      </tr>
        <div class="posts-index-item">
          <tr>
            <td><%= @post.room_number %></td>
            <td><%= @post.name_a %></td>
            <td><%= @post.name_b %></td>
          </tr>
        </div>
    </table>
  </div>
</div>