<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">ルームに参加</h1>

    <div class="form-body">
      
      <%= form_tag("/posts/mov_room") do %>
        <p class="new">ルーム番号　　　<input name="room_number" type="number"></p><br>
        
        <p class="new"><input class="new" type="submit" value="ルームに参加する"></p>
      <% end %>
    </div>
  </div>
</div>